<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=1200"
    />
    <meta property="og:title" content="CodeYell - 源码阅读交流平台"/>
    <meta name="description" content="在线交流开源代码，学习优秀项目的编程思想，快速提升自身编程能力"/>
    <meta property="og:description" content="在线交流开源代码，学习优秀项目的编程思想，快速提升自身编程能力"/>
    <meta name="keywords" content="开源，源码阅读，工具，java，c，c++，php，python，r，.net，c#，javascript"/>
    <link rel="shortcut icon" href="<%= SWICO_STATIC_PUBLIC_PATH %>favicon.ico" />
    <Title>CodeYell - 源码阅读交流平台</Title>
    <script src="//sdk.51.la/js-sdk-pro.min.js" id="LA_COLLECT" charset="UTF-8"></script>
    <script>LA.init({id:"3GtMyIaIiJNaX6PJ",ck:"3GtMyIaIiJNaX6PJ"})</script>
</head>
<body>
</body>
</html>
